name: Build-images

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, closed] 
  workflow_dispatch:


env:
  REGISTRY: cr.yandex
  REGISTRY_ID: ${{ secrets.YC_REGISTRY_ID }}

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: "nemo-service"
            path: "nemo-service"
            version: "v1.1.0"
          - name: "whisper-service"
            path: "whisper-service" 
            version: "v1.1.0"

          - name: "vosk-service"
            path: "vosk-service" 
            version: "v1.1.0"

    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    
    - name: Debug - List directories
      run: |
        echo "=== Содержимое репозитория ==="
        ls -la
        echo "=== Проверка существования папки ${{ matrix.path }} ==="
        if [ -d "${{ matrix.path }}" ]; then
          echo "Папка ${{ matrix.path }} существует"
          echo "=== Содержимое папки ${{ matrix.path }} ==="
          ls -la "${{ matrix.path }}"
        else
          echo "Папка ${{ matrix.path }} не существует"
        fi
    
    - name: Build Docker image
      run: |
        echo "Building service: ${{ matrix.name }}"
        echo "Path: ${{ matrix.path }}"
        
        # Проверяем существование папки и Dockerfile
        if [ ! -d "${{ matrix.path }}" ]; then
          echo "Directory ${{ matrix.path }} not found"
          exit 1
        fi
        
        cd "${{ matrix.path }}"
        echo "Текущая директория: $(pwd)"
        echo "Содержимое:"
        ls -la
        
        if [ ! -f "Dockerfile" ]; then
          echo "Dockerfile not found in ${{ matrix.path }}"
          exit 1
        fi
        
        #docker build -t ${{ matrix.name }} .
        

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      with:
        driver: docker-container
        buildkitd-flags: --debug


    - name: Build service ${{ matrix.name }}
      uses: docker/build-push-action@v5
      with:
        context: ${{ matrix.path }}
        file: ${{ matrix.path }}/Dockerfile
        tags: |
          ${{ matrix.name }}:latest
          ${{ env.REGISTRY }}/${{ env.REGISTRY_ID }}/${{ matrix.name }}:${{ matrix.version }}
          ${{ env.REGISTRY }}/${{ env.REGISTRY_ID }}/${{ matrix.name }}:${{ github.sha }}
        cache-from: type=gha,scope=${{ github.ref }}-${{ matrix.name }}
        cache-to: type=gha,mode=max,scope=${{ github.ref }}-${{ matrix.name }}
        outputs: type=docker,dest=/tmp/${{ matrix.name }}.tar
        load: true

 
    - name: Save ${{ matrix.name }} image as artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.name }}-image
        path: /tmp/${{ matrix.name }}.tar
        retention-days: 30  

   # - name: Analyze image size
   #   run: |
   #     echo "=== АНАЛИЗ РАЗМЕРА DOCKER ОБРАЗА ==="
    #    echo "Сервис: ${{ matrix.name }}"
        
        # Получаем общий размер образа
   #     SIZE_BYTES=$(docker image inspect ${{ matrix.name }}:latest --format='{{.Size}}')
   #     SIZE_MB=$(echo "scale=2; $SIZE_BYTES / 1024 / 1024" | bc -l)
        
   #     echo "Размер образа ${{ matrix.name }}: $SIZE_MB MB"
   #     echo ""

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.pull_request.merged == true }}
    strategy:
      matrix:
        include:
          - name: "nemo-service"
            version: "v1.1.0"
          - name: "whisper-service"
            version: "v1.1.0"
          - name: "vosk-service"
            version: "v1.1.0"

    steps:
    - name: Deploy to server
      run: |
        echo "Деплой всех сервисов завершен успешно!"
        echo "Собраны и загружены в registry:"
        echo "- whisper-service:v1.0.0"
        echo "- vosk-service:v1.0.0"

    - name: Login to YCR with JSON Key
      run: |
        echo '${{ secrets.YC_JSON_KEY }}' | docker login \
          --username json_key \
          --password-stdin cr.yandex


    - name: Download all images
      uses: actions/download-artifact@v4
      with:
        path: /tmp/artifacts
        name: ${{ matrix.name }}-image  

    - name: test
      run: |
        ls /tmp/artifacts

    - name: Load Docker image from tar
      run: |
        echo "Loading ${{ matrix.name }}.tar"
        docker load -i /tmp/artifacts/${{ matrix.name }}.tar

        docker images

    - name: Tag and push Docker image
      run: |

        echo '${{ secrets.YC_JSON_KEY }}' | docker login \
          --username json_key \
          --password-stdin cr.yandex

        docker tag ${{ matrix.name }} $REGISTRY/$REGISTRY_ID/${{ matrix.name }}:${{ matrix.version }}
        #docker tag ${{ matrix.name }} $REGISTRY/$REGISTRY_ID/${{ matrix.name }}:latest
        
        docker push $REGISTRY/$REGISTRY_ID/${{ matrix.name }}:${{ matrix.version }}
        #docker push $REGISTRY/$REGISTRY_ID/${{ matrix.name }}:latest


    - name: check images tag
      run: |
        echo "Docker образы"
        docker images
